body{
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 30px;
}
#value{
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}